@import "inherence/_flexCenter";

#navOptionsVehicle {
  display: grid;
  grid-template-columns: repeat(2,50%);
  width: 70%;
  height: 100%;
  margin: auto auto;
  align-items: center;

  #optiosnsButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0 10px;
  }
}