@import 'mixins/_buttonStyle';

.block-welcome-vehicle-company {
  @extend %flexCenter;
  height: 180px;
  display: flex;
  line-height: 25px;
  justify-content: space-around;
  border-radius: 8px;
}
