 .row-table{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center; 
  border-bottom: rgb(236, 236, 236) 1px solid;
}
.item-name{
  width: 310px;
}
.item-avatar{
  padding-left: 20px;
}
.item-placa{
  width: 120px;
}
.item-email{
  width: 240px;
}
.item-date{
  width: 120px;
}
img{
  width: 21px;
  height: 21px;
  cursor: pointer;
  padding-right: 10px;
}