@import 'inherence/gridCenter';
@import 'inherence/flexCenter';

.row-table {
  display: grid;
  grid-template-columns: repeat(5,20%);
  grid-template-rows: 60px;
  place-items: center;
  border-bottom: rgb(236, 236, 236) 1px solid;

  .item-information {
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    text-align: center;
  }
}

img {
  width: 21px;
  height: 21px;
  cursor: pointer;
  padding-right: 10px;
}
