<section class="row-table">
  <div class="item-information">
    <td class="item-avatar">
      <app-user-avatar-component-vehicle-company
        [avatar]="user.avatar"
      ></app-user-avatar-component-vehicle-company>
    </td>
    <td class="item-name">{{ user.name }}</td>
  </div>
  <td class="item-placa">{{ user.placa }}</td>
  <td class="item-email">{{ user.email }}</td>
  <td class="item-date">{{ user.statusTransporter }}</td>
  <div>
    <img [src]="editar" alt="editar" />
    <img [src]="asignar" (click)="openModalVehicle()" alt="asignar" />
    <img [src]="delete" (click)="openModalConfirm()" alt="Eliminar" />
  </div>
</section>

<app-complete-header-form-vehicle
  *ngIf="showModal"
></app-complete-header-form-vehicle>

<app-block-modal-confirm
  *ngIf="showModalConfirm"
  [imgBlockReference]="deleteModal"
  [textBlockReference]="messageDelete"
  [idUser]="idUser"
>
</app-block-modal-confirm>

<app-complete-header-form-vehicle *ngIf="showModal">
</app-complete-header-form-vehicle>
