@import 'inherence/totalSize';
@import 'inherence/flexCenter';

#title-form {
  @extend %totalSize;
  @extend %flexCenter;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 1px 0px 2px #000;
  padding-top: 10px;
}
