<div class="side-bar">
  <app-logo-company></app-logo-company>

  <div class="options-menu">
    <button> <img src="../../../../assets/imagenes/hogar.png" alt="">Inicio</button>
    <button> <img src="../../../../assets/imagenes/entrega-rapida (1).png" alt="">Vehiculos</button>
    <button> <img src="../../../../assets/imagenes/silueta-de-multiples-usuarios.png" alt="">Nosotros</button>
    <button> <img src="../../../../assets/imagenes/tendencia.png" alt="">Estadisticas</button>
    <button> <img src="../../../../assets/imagenes/ayuda (1).png" alt="">Ayuda</button>
    <button> <img src="../../../../assets/imagenes/cerrar-sesion (1).png" alt="">Salir</button>
  </div>

  <app-no-copy></app-no-copy>

</div>
