@import 'colors/defaultColor';

.side-bar {
  width: 180px;
  height: 100vh;
  background-color: map-get($primary, 'one');
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 75% 20%;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.options-menu{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.options-menu button{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: left;
  background-color: #06141b;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding-left: 40px;
}
.options-menu button:hover{
  background-color: map-get($primary, 'two');
  color: map-get($primary, 'three');
}
button img{
  width: 12px;
  height: 12px;
  padding-right: 10px;
}