@import 'colors/defaultColor';

.side-bar {
  width: 130px;
  height: 100vh;
  background-color: map-get($primary, 'one');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
}
