<!-- <div class="container-all">
  <app-header-form-create-vehicle class="header-form"
  title="Transportador" 
  subtitle="Asigna un transportador a tu vehculo." 
  (close)="handleClose()">
</app-header-form-create-vehicle>

<form>
    <app-form-field label="Nombre" id="tipo-vehiculo" type="text" placeholder="Nombre"></app-form-field>
    <app-form-field label="Email" id="nit" type="text" placeholder="Email"></app-form-field>
    <app-form-field label="Telefono" id="placa" type="text" placeholder="Telefono"></app-form-field>
    <app-form-field label="Licencia" id="placa" type="text" placeholder="Licencia"></app-form-field>
    
    
    <app-form-buttons></app-form-buttons>
  </form>
</div> -->
