@import 'colors/defaultColor';

#blockUserSettingsOptions {
  position: absolute;
  right: 5%;
  width: 220px;
  height: 48vh;
  background-color: #fff;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 5px 5px 20px  #2f2f2f7c; /* shadow-sm */
  color: #000000; /* text-gray-700 */
  transition: background-color 0.2s;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14% 15%;
}

button{
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 12px;  
  padding-left: 25px;

  a{
    color: #000000; /* text-gray-700 */
    text-decoration: none;
  }
}
button:hover{
  background-color: #b0b0b070;
}
.backImgRow {
  cursor: pointer;
  width: 12px;
  height: 11px;

}

.close{
  width: 100%;
  height: 100%;
  display: flex;
}
.ayuda{
  padding-left: 5px;
  width: 12px;
  height: 12px;
}
.btn-botom{
  width: 100%;
  margin-top: 25px;
  height: 20px;
  padding-bottom: 30px;
  border-radius: 0 0 10px 10px;
}

figure{
  height: 10px;
  padding-left: 85%;
  padding-top: 20px;
}