.content-all{
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 10% 30% 50%;
}
.logo{
  width: 80px;
  height: 60px;
  position: absolute;
  top: 2%;
  left: 93%;
}
.form-field{
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer{
  width: 100%;
  border-top: solid 1px #c6c7c8;
  height: 70px;
  padding-top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  color: #06141B;
  justify-content: center;
  flex-direction: column;
  line-height: 20px;

  a{
    color: #1A517C;
    text-decoration: none;

    a:hover{
      color: #06141B;
    }
  }

  span{
    color: #06141B;
    margin-top: 5px;
    font-size: 12px;
  }
}