@import 'inherence/flexCenter';
@import 'inherence/totalSize';
@import 'colors/modalsConfirmColor';

.modal-actions {
  background-color: white;
  width: 580px;
  height: 380px;
  border-radius: 12px;
  box-shadow: 0 5px #b5b5b5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 40% 10% 20%;

  #btns-options-modal {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    @extend %flexCenter;
    justify-content: space-around;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(164, 161, 161, 0.5); // Fondo opaco
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Asegura que esté sobre el contenido normal
}


