.btn-next {
  background-color: #06141b; /* Dark blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}
.btn-next:hover {
  background-color: #1e90ff; /* Dodger blue */
}
