<section id="templateTotal">
  <aside class="side-bar">
    <app-complete-side-bar></app-complete-side-bar>
  </aside>

  <!-- <app-nav-bar-vehicle-company id="navBar"></app-nav-bar-vehicle-company> -->
  <app-group-welcome-vehicle-company
    id="welcomne"
  ></app-group-welcome-vehicle-company>

  <app-nav-options-table-vehicle
    id="navOptions"
  ></app-nav-options-table-vehicle>

  <div class="vehicle-company-panel">
    <app-group-table-user-vehicle-company></app-group-table-user-vehicle-company>
  </div>

   <!-- <app-complete-header-form-vehicle></app-complete-header-form-vehicle> -->
  <!-- <app-create-modal-transporter></app-create-modal-transporter> -->
</section>
