@import 'inherence/flexCenter';

#templateTotal {
  display: grid;
  grid-template-columns: 170px 1fr;
  height: 100vh;
  background-color: rgba(235, 232, 232, 0.568);
  grid-template-rows: 160px auto auto;
  grid-template-areas:
    'aside navBar'
    'aside navOptions'
    'aside table';

  aside {
    grid-area: aside;
  }

  #navBar {
    grid-area: navBar;
  }

  #welcome {
    grid-area: welcome;
  }

  #navOptions {
    grid-area: navOptions;
  }

  .vehicle-company-panel {
    grid-area: table;
  }
}
