@import 'inherence/flexCenter';

#templateTotal {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "aside navBar"
  "aside welcome"
  "aside navOptions"
  "aside table";

  aside {
    grid-area: aside;
  }

  #navBar {
    grid-area: navBar;
  }

  #welcome {
    grid-area: welcome;
  }

  #navOptions {
    grid-area: navOptions;
  }

  .vehicle-company-panel {
    grid-area: table;
  }
}