@import 'inherence/_flexCenter';
@import 'inherence/_totalSize';
@import 'colors/defaultColor';
#blockSearch {
  @extend %totalSize;
  @extend %flexCenter;

  #searchCompany {
    width: 400px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 12px;

    input{
      width: 400px;
    }

    &::placeholder {
      color: #A5A5A5; 
      font-size: 14px;

      &:focus {
        border: none;
      }
    }
  }
}
