@import 'inherence/_flexCenter';
@import 'inherence/_totalSize';
@import 'colors/defaultColor';
#blockSearch {
  @extend %totalSize;
  @extend %flexCenter;

  #searchCompany {
    width: 200px;
    border: none;
    background-color: transparent;
    color: map-get($default, 'one');
    outline: none;
    font-size: 12px;

    &::placeholder {
      color: map-get($default, 'one');

      &:focus {
        border: none;
      } 
    }
  }
}