<div class="container-all">
  <app-header-form-create-vehicle class="header-form"
  title="Crear Vehiculo" 
  subtitle="Crea un vehiculo de tu empresa.">
  </app-header-form-create-vehicle>

  <form>
    <app-form-field label="Tipo de Vehiculo" id="tipo-vehiculo" type="text" placeholder="Tipo"></app-form-field>
    <app-form-field label="Placa" id="placa" type="text" placeholder="Placa"></app-form-field>
    <app-form-field label="Capacidad" id="capacidad" type="text" placeholder="Capacidad"></app-form-field>
    <app-form-field label="Tipo de Carga" id="capacidad" type="text" placeholder="Carga"></app-form-field>
    <app-form-buttons></app-form-buttons>
  </form>
</div>
