.content-all{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 70%;
  height: 100px;
}

h2{
  a{
    color: #06141B;
    text-decoration: none;
    cursor: pointer;
  }
  img{
    width: 11px;
    height: 10px;
    margin-right: 4px;
    padding-top: 3px;
  }
}