<table>
  <div class="items-table">
    <th class="item-user">Transportadores</th>
    <th class="item-placa">Placa</th>
    <th class="item-correo">Correo</th>
    <th>Disponibilidad</th>
  </div>

  <tbody>
    <ng-container *ngIf="!isEmptyState; else emptyState">
      <app-user-row-component-vehicle-company
        *ngFor="let user of users"
        [user]="user"
      >
      </app-user-row-component-vehicle-company>
    </ng-container>
    <ng-template #emptyState>
      <tr>
        <td colspan="4">
          <app-empty-state
            [imgSrc]="'../../../../assets/imagenes/busqueda.png'" 
            [mainText]="'Resultados no encontrados'" 
            [secondaryText]="'Whoops... No se encontró el resultado'" 
          ></app-empty-state>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
