@import "mixins/_buttonStyle";
@import "inherence/_flexCenter";
@import "inherence/_totalSize";
@import "inherence/_gridCenter";
@import "colors/_buttonColor";

#blockButton {
  @extend %totalSize;
  @extend %flexCenter;
  #buttonWaver {
    @include buttonStyle($width: 170px, $height:45px, $border-radius:10px);
    display: grid;
    grid-template-columns: 30% auto;
    // gap: 0 20px;

    &:hover {
      box-shadow: 0px 0px 20px  darken(map-get($buttonColors , 'background' ),10%);
    }
    img {
      height: 50%;
      width: 95%;
      filter: invert(100%);
      object-fit: contain;
      margin: 0 auto;
    }
  }
}
