@import 'colors/_defaultColor';

#blockSearch {
  margin-left: 95px;
  width: 60%;
  height: 35px;
  background-color: map-get($primary, 'one' );
  display: flex;
  border-radius: 10px;
  border: none;
  align-items: center;
}