@import 'colors/_defaultColor';
@import 'inherence/flexCenter';

#blockSearch {
  @extend %flexCenter;
  margin-left: 95px;
  width: 60%;
  height: 100%;
  background-color: map-get($primary, 'one' );
  border-radius: 10px;
  border: none;
}