@import 'colors/_defaultColor';
@import 'inherence/flexCenter';

#blockSearch {
  display: grid;
  grid-template-columns: 10% 40%;
  width: 80%;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(88, 88, 88, 0.207); /* Agrega el borde de sombra */
}
