input{
  padding: 5px;
  padding-left: 15px;
  width: 270px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 232);
  color: rgb(195, 193, 193);
  margin-left: 100px;
  margin-bottom: 20px;
  border-radius: 2px solid rgb(72, 72, 72);
}