@import 'mixins/btnModalConfirm';

.btn-next {
  @include btnModalConfirm($background: 'confirm', $color: 'textConfirm');
  width: 350px;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
