$default: (
  white: #ffff,
  black: #000000
);

$primary:(
  one: #06141B,
  two: #11212D
);

$secundary:(
    one: #11212D,
    two: #1A517C
);

$terciary:(
    one: #253745,
    two: #4A5C6A
);

$state:(
  success:#41A229,
  warning: #CBC53B,
  error: #6C0A00,
  info: #1B3F5B
);

