$default: (
  one: #ffff,
  two: #000000,
);

$primary: (
  one: #06141b,
  two: #11212d,
);

$secundary: (
  one: #11212d,
  two: #1a517c,
);

$terciary: (
  one: #253745,
  two: #4a5c6a,
);

$state: (
  success: #41a229,
  warning: #cbc53b,
  error: #6c0a00,
  info: #1b3f5b,
);
