<img class="logo" src="../../../../assets/icons/logo-company.png" alt="">
<div class="content-all">
   <app-tittle-recovery-password></app-tittle-recovery-password>
      <form class="form-field">
        <app-input-recovery-password
        *ngFor="let item of dataform3"
        label="{{item.label}}"
        id="{{item.id}}"
        type="{{item.type}}"
        placeholder="{{item.placeholder}}"
        fild="{{item.fild}}">
        </app-input-recovery-password>
      </form>
    <app-block-form-recovery-password></app-block-form-recovery-password>
    <div class="footer"> 
      <p>¿No tienes una cuenta? <a href="http://">Registrate</a></p>
      <span>©Transkodiak</span>
    </div>
</div>




