@import "inherence/_totalSize";
@import "inherence/_flexCenter";

#blockLogoCompany {
  @extend %totalSize;
  @extend %flexCenter;
  justify-content: start;
  padding: 5px 0 0 30px;

  img {
    width: 15%;
    height: 55%;
    cursor: pointer;
    object-fit: cover;
  }
}
