@import "inherence/_totalSize";
@import "inherence/_flexCenter";

#blockLogoCompany {
  @extend %totalSize;
  @extend %flexCenter;
  justify-content: start;
  padding: 20px 0 0 4px;

  img {
    padding-left: 20px;
    width: 50%;
    height: 80%;
    cursor: pointer;
    object-fit: cover;
  }
}
