@import 'inherence/_totalSize';
@import 'inherence/_flexCenter';

#blockUserImg {
  @extend %totalSize;
  @extend %flexCenter;
  justify-content: flex-end;

  img {
    width: 10%;
    height: 65%;
    object-fit: fill;
    border-radius: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
}
