@import "inherence/_totalSize";
@import 'inherence/_flexCenter';

#blockUserImg {
  @extend %totalSize;
  @extend %flexCenter;
  justify-content: flex-end;

  img {
    width: 15%;
    height: 90%;
    object-fit: fill;
    border-radius: 10px;
    padding-right: 10px;
  }
}
