.btn-cancel {
  background-color: #8b0000; /* Dark red */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}
.btn-cancel:hover {
  background-color: #a52a2a; /* Brown */
}
