
<div class="modal-overlay">

  <div class="container-all">
    <app-header-form-create-vehicle
      class="header-form"
      title="Transportador"
      subtitle="Asigna el Transportador."
    >
    </app-header-form-create-vehicle>
  
    <form>
      <app-form-field
        *ngFor="let item of formData"
        
        [id]="item.id"
        [fild]="item.field"
        [placeholder]="item.placeholder"
        [type]="item.type"
      ></app-form-field>
    </form>
    
    <button (click)="saveDate()">{{ text }}</button>
  </div>
  

</div>

